@import '../../../config-scss/rem-calc.scss';

:host {
	main {
		margin-top: rem-calc(40);
    max-width: rem-calc(1000);

		.pokemon__names {
			position: relative;
			display: flex;

			height: 75px;

			padding: 0 rem-calc(30);

			h1 {
				color: var(--font-primary);
				font-size: rem-calc(50);
        font-weight: 700;
				text-transform: capitalize;
			}

      h2 {
        position: relative;
        left: rem-calc(100);
        font-size: rem-calc(60);
        color: var(--font-primary);
			}
		}

		.pokemon__status {
			position: relative;

			img {
				position: absolute;

				top: rem-calc(90);
				left: rem-calc(600);
				max-width: rem-calc(300);
			}

			&__statistics {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				background: var(--branco);

				min-height: 43.9vh;
				margin-top: rem-calc(10);

				padding: rem-calc(110) rem-calc(35) rem-calc(30);
				border-radius: rem-calc(50);
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

				h3 {
					margin-bottom: rem-calc (20);
					font-weight: 700;
					font-style: italic;
					font-size: rem-calc(32);
					text-decoration: underline;
					color: var(--secondary-color);
				}

				ol {
					li {
						display: flex;
						justify-content: space-between;
            max-width: rem-calc(250);

						font-size: rem-calc(20);
						line-height: 130%;
					}
				}
			}
		}

		@media (max-width: 420px) {
			margin-top: rem-calc(10);

			.pokemon__names {
				h1 {
					font-size: rem-calc(20);
				}

				h2 {
					top: rem-calc(35);
					font-size: rem-calc(20);
				}
			}

			.pokemon__status {
				position: relative;

				img {
					position: absolute;
					top: rem-calc(-80);
					left: rem-calc(0);
					max-width: rem-calc(100);
				}

				&__statistics {
					min-height: 57vh;
					padding-top: rem-calc(50);
				}
			}
		}
	}
}
