<!-- Search -->
<poke-search (emitSearch)="getSearch($event)"></poke-search>

<section class="listagem">
  <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
    <a
      [routerLink]="['details', pokemon.status.id]"
      class="pokemon"
      *ngIf="pokemon.status"
    >
      <section class="pokemon__status">

        <h2>
          <div>
            {{ pokemon.name | titlecase }}
          </div>
          <div>
            {{ "#" + pokemon.status.id }}
          </div>
        </h2>

        <ul>
          <li>
            {{ 'Altura: ' + pokemon.status.height + ' pés' }}
          </li>
          <li>
            {{ 'Peso: ' + pokemon.status.weight + ' lbs' }}
          </li>
        </ul>
      </section>

      <section class="pokemon__image">
        <img
          [src]="pokemon.status.sprites.other.dream_world.front_default"
          [alt]="pokemon.name"
        />
      </section>

      <section class="corner-frame">
        <img src="../../../assets/corner1.jpg" alt="">
      </section>
    </a>
  </ng-template>
</section>
