@import '../../../config-scss/rem-calc.scss';

:host{
  font-family: Nunito;

  .upper-text{
    position: relative;
    margin: 0 auto;

    max-width: rem-calc(470);

    font-size: rem-calc(35);
    font-weight: 700;
    color: var(--font-primary)
  }

  .upper-text span{
    color: var(--secondary-color)
  }

  .upper-text p {
    margin-bottom: rem-calc(20);
    margin-top: rem-calc(20);
    font-size: rem-calc(20);
    font-weight: 500;
  }


  form{
    position: relative;
    margin: 0 auto;

    max-width: rem-calc(600);

    padding: rem-calc(12) rem-calc(16);
    background: gray;

    border-radius: rem-calc(10);

    input{
      font-size: rem-calc(20);

      width: 95%;
      background: none;

      color: var(--branco);

      &::placeholder{
        color: var(--branco);
      }
    }
  }

  @media (max-width: 420px){
    .upper-text{
      padding: rem-calc(0) rem-calc(40);
    }

    form{
      left: rem-calc(-15);
      width: 80vw;
      input{
        width: 75vw;
      }
    }
  }
}
