@import "../../../config-scss/rem-calc.scss";

:host {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font-primary);
    height: 100px;
  }
}

img {
  width: 200px;
  border-radius: 10px;
}
